{
	auto_https disable_redirects
}

(security_headers) {
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		-Server
	}
}

http://20070809.xyz {
	redir /douyin /douyin/ 308
	redir /douyinliverecorder /douyin/ 308
	redir /sysmon /sysmon/ 308
	handle_path /tiktok/* {
		import security_headers
		reverse_proxy 127.0.0.1:8766
	}
	handle_path /douyin/* {
		import security_headers
		reverse_proxy 127.0.0.1:8000
	}
	handle_path /sysmon/* {
		import security_headers
		reverse_proxy 127.0.0.1:8080
	}
	handle {
		reverse_proxy 127.0.0.1:5244
	}
}

https://20070809.xyz {
	tls internal
	redir /douyin /douyin/ 308
	redir /douyinliverecorder /douyin/ 308
	redir /sysmon /sysmon/ 308
	handle_path /tiktok/* {
		import security_headers
		header Strict-Transport-Security "max-age=31536000; includeSubDomains"
		reverse_proxy 127.0.0.1:8766
	}
	handle_path /douyin/* {
		import security_headers
		header Strict-Transport-Security "max-age=31536000; includeSubDomains"
		reverse_proxy 127.0.0.1:8000
	}
	handle_path /sysmon/* {
		import security_headers
		header Strict-Transport-Security "max-age=31536000; includeSubDomains"
		reverse_proxy 127.0.0.1:8080
	}
	handle {
		reverse_proxy 127.0.0.1:5244
	}
}
